# Node.js and npm
node_modules/
npm-debug.log
yarn-error.log

# Angular
/dist/
/e2e/

# FastAPI
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific files (VSCode, PyCharm, etc.)
.idea/
.vscode/
*.code-workspace

# Miscellaneous
.DS_Store
.env
# Virtual Environment
venv/
